body {
    background-color: #e2d5de;
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    text-align: center;
    background-color: rgb(52, 58, 63);
    color: #e2d5de;
}

.today {
    font-size: 25px;
    padding-top: 10px;
}

.dateTime {
    font-size: 18px;
}

th {
    color: #e2d5de;
}

.btn {
    font-size: 10px;
    cursor: pointer;
    align-items: right;
}

textarea {
    resize: none;
    /* background: transparent; */
    outline: none;
}


/* timeBlock colors */

.past {
    background-color: lightgray;
}

.present {
    background-color: lightgreen;
}

.future {
    background-color: lightpink;
}